@font-face{
 src:url("CursedTimerULiL.ttf"); 
 font-family: CursedTimer;
    
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 385px;
    width: 575px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background: #1B244A;
    border-radius: 5px;
    margin: 10px auto 10px auto;
  
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: none;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

#displayLabelHome{
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background: #080001;
    font-family: CursedTimer;
    color: #F94F6D;
    font-size: 90px;
    margin: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin: 0px;
    padding: 0px;
}
#displayLabelAway{
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background: #080001;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F94F6D;
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    margin: 20px;
}

p{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
